 ![png](Data/ERD.png)

In [3]:
import json
with open('/Users/purvikansara/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [7]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from urllib.parse import quote_plus as urlquote
from sqlalchemy.engine import create_engine

## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'password' # whatever password you chose during MySQL installation.

connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Chinook"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/Chinook)

In [8]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

   Tables_in_chinook
0              Album
1             Artist
2           Customer
3           Employee
4              Genre
5            Invoice
6        InvoiceLine
7          MediaType
8           Playlist
9      PlaylistTrack
10             Track

### What is the most a customer has spent on a single purchase and what is their customerId?

In [10]:
q = '''SELECT 
    customerId, Total
FROM
    Invoice
ORDER BY Total DESC
LIMIT 1'''

pd.read_sql(q,engine)

   customerId  Total
0           6  25.86

### What country is the customer with the largest total bill from (from question 2)

In [11]:
q = '''SELECT 
    i.CustomerId, i.Total, c.Country
    FROM Invoice i
    JOIN Customer c ON c.CustomerId = i.CustomerId
    ORDER BY Total DESC
    LIMIT 1'''

pd.read_sql(q,engine)

   CustomerId  Total         Country
0           6  25.86  Czech Republic